@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #010101;
  overflow-x: hidden;
  overflow-y: hidden !important;
}

img {
  pointer-events: none;
}

@font-face {
  font-family: "JetBrains-mono";
  src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jura";
  src: url("/fonts/Jura-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.why-mob {
  display: none;
}
.font-jura {
  font-family: "Jura";
}

.bg-shadow-1 {
  position: fixed;
  z-index: -1;
  width: 311px;
  height: 311px;
  left: 80%;
  top: -4%;

  overflow: hidden;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(173, 0, 255, 0.1) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}
.bg-shadow-2 {
  width: 484px;
  height: 484px;
  position: fixed;
  z-index: -1;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  gap: 0px;
  overflow: hidden;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(113, 73, 133, 0.1) 50%,
    rgba(173, 0, 255, 0) 100%
  );
}

.bg-shadow-3 {
  position: fixed;
  z-index: -1;
  width: 484px;
  height: 484px;
  left: 2%;
  top: 15%;
  gap: 0px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(113, 73, 133, 0.1) 50%,
    rgba(173, 0, 255, 0) 100%
  );
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

.landing-title {
  width: 450px;
  height: 376px;
  position: absolute;
  left: 9%;
  top: 15%;
  transform: translateY(-20%);
  gap: 0px;
  text-align: center !important;

  font-family: "JetBrains-mono";
  font-weight: 400;
  line-height: 80px;
  text-align: left;

  color: #ffffff;
}

.about-me-container {
  overflow-wrap: break-word;
  width: 40vw;
  height: 70vh;
  position: absolute;
  left: 8%;
  top: 20%;
  transform: translateY(-20%);

  text-align: left;

  color: #ffffff;
}

.vertical-separator {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;

  background-color: #d3c0db;
  z-index: 9999;
}

.section-title {
  color: white;
  font-size: 2.5rem;
  position: relative;
  bottom: 80px;
  font-family: "JetBrains-mono";
  display: none;
}

.separator-ball-1 {
  position: absolute;
  border-radius: 100%;
  width: 6vw;
  height: 6vw;
  background: #da8bff;
  top: 95%;
  left: calc(47%);
  z-index: 99999999999;
  overflow: hidden;
}

.landing-pyramid {
  position: absolute;
  top: 95%;
  transform: translateY(-95%);
  z-index: 9999999999;
  left: 85%;
}

.main-menu {
  position: fixed;
  left: 58%;
  top: 35%;
  transform: translateY(-35%);
  width: 377px;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  gap: 0px;
  border: 1px solid #ffffff33;
}

.me-option {
  width: 122px;
  height: 122px;
  font-family: Jura;
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid #ffffff33;
  border-bottom: 1px solid #ffffff33;
}

.skills-option {
  width: 255px;
  height: 122px;
  top: 199px;
  left: 978px;
  gap: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Jura;
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;

  color: #ffffff;
  border-bottom: 1px solid #ffffff33;
}

.exp-option {
  width: 252px;
  height: 130px;
  font-family: Jura;
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #ffffff33;
  color: #ffffff;
  border-right: 1px solid #ffffff33;
}

.projects-option {
  width: 377px;
  height: 130px;
  font-family: Jura;
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #ffffff33;
  color: #ffffff;
  border-right: 1px solid #ffffff33;
}

.why-option {
  width: 122px;
  height: 130px;
  font-family: Jura;
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #ffffff33;
  color: #ffffff;
}

.landing-option {
  width: 122px;
  height: 123px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #ffffff33;
}

.contact-option {
  width: 256px;
  height: 123px;
  font-family: Jura;
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.contact-name-input {
  width: 393px;
  height: 61px;
  top: -15px;
  border-radius: 50px 50px 0px 0px;
  border: 2px solid #c446ff;
  color: #ffffff;
  background-color: transparent;
  outline: none;
  padding-left: 14px;
}

.contact-email-input {
  width: 393px;
  height: 46px;
  color: #ffffff;
  border: 2px solid #c446ff;
  background-color: transparent;
  outline: none;
  padding-left: 14px;
}

.contact-message-input {
  width: 393px;
  height: 230px;
  top: 4px;
  gap: 0px;
  border-radius: 0px 0px 50px 50px;
  border: 2px solid #c446ff;
  color: #ffffff;
  outline: none;
  padding-left: 14px;
  background-color: transparent;
  min-height: 230px;
  resize: none;
}

.bg-shadow-4 {
  width: 484px;
  height: 484px;
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  gap: 0px;
  overflow: hidden;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(113, 73, 133, 0.1) 50%,
    rgba(173, 0, 255, 0) 100%
  );
}

.contact-form {
  width: 400px;
  height: 350px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* position: fixed; */
  font-family: "Jura";
  top: 20%;
  left: 10%;
  transform: translate(-25%, -10%);
}

.contact-form-btn {
  width: 166px;
  height: 52px;
  gap: 0px;
  border-radius: 50px 0px 50px 0px;
  border: 2px solid #ad00ff;
  background: #eec3ff;
  color: #010101;
  position: fixed;
  top: 84%;
  left: 57.5%;
}

.separator-ball-2 {
  position: absolute;
  border-radius: 100%;
  width: 6vw;
  height: 6vw;
  top: 107%;
  left: calc(47%);
  z-index: 9999999999;
  overflow: hidden;
  background: #da8bff33;
}

.separator-ball-3 {
  position: absolute;
  border-radius: 100%;
  width: 6vw;
  height: 6vw;
  top: 102%;
  left: calc(47%);
  z-index: 9999999999;
  overflow: hidden;
  background: #da8bff1a;
}

.social-info-container {
  width: 400px;
  height: 60px;
  border: 1px solid #ffffff33;
  justify-content: space-evenly;

  display: flex;
  flex-wrap: nowrap;
  /* position: relative; */
  font-family: "Jura";
  top: 88%;
  left: 5%;
}

.contact-social-item {
  width: 25%;
  height: 60px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  border-right: 1px solid #ffffff33;
}

.contact-section {
  width: 50vw;
  height: 80vh;
  left: 0;
  top: 15%;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.almasri-background {
  background-image: url("../app/assets/images/almasri.webp") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.ecommerce-background {
  background-image: url("../app/assets/images/ecommerce.webp") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px) {
  :root {
    overflow-y: visible !important;
  }

  .bg-shadow-4 {
    display: none;
  }

  .section-title {
    display: block;
  }
  .main-menu {
    display: none;
  }
  .vertical-separator {
    display: none;
  }
  .about-me-container {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 1.25rem;
    line-height: 2.2rem;
  }
  .min-h-screen {
    padding: 2rem;
    padding-top: 3rem !important;
    margin: 2rem;
  }
  .separator-ball-1 {
    display: none;
  }
  .separator-ball-2 {
    display: none;
  }
  .separator-ball-3 {
    display: none;
  }

  .js-icon {
    width: 100px;
    position: fixed;
    left: -30px;
    top: -20px;
  }

  .landing-pyramid {
    display: none;
  }
  .landing-title {
    position: static;
  }

  .next {
    left: 85%;
    top: 105vh;
    width: 50px;
  }
  .tailwind {
    left: 5%;
    top: 235vh;
    width: 50px;
  }

  .css {
    left: 88%;
    top: 320vh;
    width: 30px;
  }

  .react {
    top: 450vh;
    left: 80vw;
  }

  .html {
    top: 420vh;
  }
  .redux {
    top: 580vh;
  }
  .skills-mob {
    display: flex;
    margin: 0px;
    padding: 0px;
    line-height: 4rem !important;
    flex-direction: column;
    gap: 0.2rem;
    height: 100%;
  }

  .projects-mob {
    width: 80vw;
  }

  .contact-section {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    position: static;
  }
  .contact-form {
    width: 100%;
    position: static !important;
  }

  .social-info-container {
    width: 100% !important;
    position: static !important;
  }
  .contact-form button {
    left: 56%;
  }
  .why-mob {
    display: block;
  }
  .why {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .about-me-container {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .btn2 {
    padding: 2px 2px !important;
    font-size: 1rem !important;
  }
  .btn2 svg {
    width: 25px;
  }
  .dwn-btn-container {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .company-icon {
    margin-bottom: 30px;
  }
  .min-h-screen {
    padding: 1rem;
    margin: 1.5rem;
  }
  .about-me-container {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .dwn-btn-container {
    margin-top: 0.5rem;
  }
  .landing-title {
    font-size: 1.5rem !important;
    width: 100% !important;
  }
  .landing-title span {
    font-size: 1.5rem !important;
  }
  .contact-form button {
    width: 42% !important;
    left: 57.5%;
  }
}

@media only screen and (max-width: 400px) {
  .btn2 {
    font-size: 0.8rem !important;
  }
  .btn2 svg {
    width: 20px !important;
  }
}
